{% extends 'base.html' %}


{% block content %}
    <h1 class="mt-5">HI, THIS IS A PAGE</h1>

    <p>
        This is a test of the template rendering system. If rendering is working, this value
        should be <code>TEST</code>: {{ value }}.
    </p>
    <p>
        The value of <code>request.spiderweb</code> is {{ request.spiderweb }}. If this is True,
        middleware is working.
    </p>
    <p>
        <img src="{% static 'aaaaaa.gif' %}" alt="AAAAAAAAAA">
    </p>
    <p>
        {{ request.META }}
    </p>
{% endblock %}
